*.a
*.exe
*.obj
*.exe
*.pdb
*.db
*.suo
*.sdf
*.tlog
*.log
*.ipch
*.db
*.opendb
*.opensdf
*.pem

gproxy.ini
.idea/
Debug/
Release/
.vs/
.claude/
build/
build_conan/
build_release/
build_debug/
build_mingw/
.vscode/
addons/
*xpam/
